<h1>To Do List</h1>
<form action="/car_added" method="post">
  <label for="new-car">Car's Make and Model: </label>
  <input type="text" name="new-car" id="new-car">
  <label for="new-price">Car's Price: </label>
  <input type="numbers" name="new-price" id="new-price">
  <label for="new-miles">Car's Miles: </label>
  <input type="numbers" name="new-miles" id="new-miles">
  <button type="submit">Submit</button>
</form>
